export(generate_correlation)
export(generate_euclidean)
export(generate_mismatch_distance)
export(generate_p_val_correlation)
export(generate_single_cell_complete_mismatch)
export(generate_single_cell_mismatch_with_parameter)
export(control_adjustment)
export(hyperrectangle_deviation_assessment)
export(ttmap)
export(ttmap_sgn_genes)
export(write_pcl)
export(read_pcl)
export(calcul_e)
export(calcul_e_single)
export(make_matrices)
import(rgl,colorRamps)
importFrom("grDevices", "col2rgb", "dev.off", "pdf", "rgb")
importFrom("graphics", "abline", "hist", "legend", "plot")
importFrom("stats", "as.dist", "cor", "cor.test", "dist", "median",
"pnorm", "ppois", "quantile", "sd", "var")
importFrom("SummarizedExperiment","assays")
importFrom("methods", "as")
importFrom("utils", "combn", "head", "read.table", "write.table")
importClassesFrom("SummarizedExperiment","RangedSummarizedExperiment")
importClassesFrom("Biobase","ExpressionSet")