export(generate_correlation)
export(generate_euclidean)
export(generate_mismatch_distance)
export(generate_p_val_correlation)
export(generate_single_cell_complete_mismatch)
export(generate_single_cell_mismatch_with_parameter)
export(ttmap_part1)
export(ttmap_part2)
export(ttmap_part3)
export(ttmap_part4)
export(write.pcl)
export(read.pcl)
export(calcul_e)
export(calcul_e_single)
export(make_matrices)
import(rgl,colorRamps)